.container {
  background-color: rgb(244, 242, 199);
}
.some-page-wrapper {
  margin: 15px;
  background-color: red;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown p {
  font-style: italic;
  color:rgba(0, 0, 0, 0.386)
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.grow1, .grow2, .grow3{
  background-color: rgb(214, 177, 102);
  color:white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1% 2% 2% 1%;
  
}
.grow1, .grow2, .grow3 h1{
  text-align: center;
}

.jumbotron {
  background-color: rgb(128, 183, 128);
  width: 100%;
}

.add-plant {

  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
}
.grow2 {
  display: none;
}
.grow3 {
  display: none;
}
.monty-values {
  display: none;
}

.darcy-values {
  display: none;
}

.pat-values {
  display: none;
}
#red {
  color: red;
}
/*button styles*/
.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 1px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 20px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}
