.container {
  background-color: rgb(244, 242, 199);
}
.some-page-wrapper {
  margin: 15px;
  background-color: red;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.grow-buttons {
  background-color: rgb(214, 177, 102);
  color:white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
}
.grow-buttons h1{
  text-align: center;
}
.grow-another {
  background-color: rgb(214, 177, 102);
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
}
.grow-another h1 {
  text-align: center;
}
.jumbotron {
  background-color: rgb(128, 183, 128);
  width: 100%;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
}

.monty-values {
  display: none;
}

.darcy-values {
  display: none;
}
#red {
  color: red;
}
/*button styles*/
.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 1px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 20px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}
